.form-range {
  width: 50px;
}

b {
  padding: 0 1rem;
  vertical-align: top;
}

.inp {
  width: 225px;
  height: 35px;
}

select:required:invalid {
  color: gray;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}
