<div [style.display]="!hasSent ? 'block' : 'none'" class="h-100 row align-items-center pt-5 m-0">
  <div class="col text-center">
    <h2>Register</h2>
    <h4 class="mb-4">(or <a class="link-primary" routerLink="/login">login</a>)</h4>
    <b>Teacher</b>
    <input (input)="changeRole($event)" class="form-range" max="1" min="0" step="1" type="range">
    <b>Student</b>
    <br>
    <input class="inp m-3 p-1" id="name" placeholder="Full name" type="text" maxlength="100">
    <br>
    <input class="inp m-3 p-1" id="nickname" placeholder="Nickname" type="text" maxlength="50">
    <br>
    <input class="inp m-3 p-1" id="email" placeholder="Email" type="text" maxlength="320">
    <br>
    <input class="inp m-3 p-1" id="password" placeholder="Password" type="password" maxlength="256">
    <br>
    <input class="inp m-3 p-1" id="university" placeholder="University" type="text" maxlength="100">
    <br>
    <div [style.display]="isVisible ? 'inline' : 'none'">
      <select class="inp m-3 p-1" id="year" required>
        <option class="text-muted" disabled selected value="">University year</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5 (mag. - 1)</option>
        <option value="6">6 (mag. - 2)</option>
      </select>
      <br>
      <input class="inp m-3 p-1" id="groupNumber" placeholder="Your group number" type="number">
      <br>
    </div>
    <button (click)="submit()" class="btn btn-primary m-3">Submit</button>
  </div>
</div>
<app-loading [style.display]="hasSent ? 'block' : 'none'" [text]="'Waiting for response...'"></app-loading>
