<div class="question">
  <div class="head">
    <h5>Question {{index + 1}}</h5>
    <div>
      <i>Max score:</i>
      <input (change)="scoreChanged($event)" class="form-control score-inp text-center" type="number"
             value="{{question.maxScore}}">
      <a (click)="deleteQuestion()" class="button ms-4">❌</a>
    </div>
  </div>
  <div class="p-2">
    <input (change)="questionChanged($event)" class="form-control text-center" placeholder="Question text"
           value="{{question.text}}">
  </div>
  <app-editor-answer
    *ngFor="let iterAnswer of question.answers; index as i"
    [answer]="iterAnswer"
    [index]="i"
    [question]="question"
  ></app-editor-answer>
  <div class="text-center">
    <a (click)="newAnswer()" class="button">+</a>
  </div>
</div>
