.question {
  padding: 1.5rem 1.5rem .5rem 1.5rem;
  margin: 1rem 5rem;
  background: #ADD8E6;
}

.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.score-inp {
  width: 4rem;
  display: inline;
  margin-left: .5rem;
}

.button {
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
}
