<div class="row m-0">
  <div class="col-2"></div>
  <div class="search col-8">
    <input (input)="filterPage()" [readonly]="page==null" class="form-control" id="filterInput"
           placeholder="Enter language:" type="text">
  </div>
  <div class="col-2 button-cont">
    <a *ngIf="canEdit" class="btn btn-secondary" routerLink="/editor">New Test</a>
  </div>
</div>
<div *ngIf="page != null; else loadingBlock">
  <div *ngIf="page.content.length > 0; else nothingBlock">
    <app-test-card
      *ngFor="let iterCard of page.content"
      [canEdit]="canEdit"
      [card]="iterCard"
    ></app-test-card>
  </div>
  <ng-template #nothingBlock>
    <h1 class="text-center m-5 p-5">Nothing is here!</h1>
  </ng-template>
  <app-pagination [page]="page" [queryParams]="'&filter='+lang" [baseUrl]="''"></app-pagination>
</div>
<ng-template #loadingBlock>
  <app-loading [text]="'Loading...'"></app-loading>
</ng-template>
