<div *ngIf="test!=null; else elseBlock">
  <div [style.display]="!hasSent ? 'block' : 'none'">
    <div class="info">
      <div class="flex">
        <h2>{{test.name}}</h2>
        <b>{{test.programmingLang}}</b>
      </div>
      <p>Questions: {{test.questionsCount}}</p>
    </div>
    <div>
      <app-question
        *ngFor="let iterQuestion of test.questions; index as i"
        [index]="i"
        [question]="iterQuestion"
      ></app-question>
    </div>
    <div class="text-center">
      <button (click)="goToHomePage()" class="btn btn-primary m-1">Cancel</button>
      <button (click)="submit()" class="btn btn-primary m-1">Submit</button>
    </div>
  </div>
</div>
<app-loading [style.display]="hasSent ? 'block' : 'none'" [text]="'Waiting for response...'"></app-loading>
<ng-template #elseBlock>
  <app-loading [text]="'Loading...'"></app-loading>
</ng-template>
