<div *ngIf="leaderboard!=null; else elseBlock" class="m-0">
  <div class="mt-3 mb-3 ms-5 me-5">
    <ng-multiselect-dropdown
      (ngModelChange)="setFields()"
      [(ngModel)]="chosenTestRecords"
      [data]="leaderboard.testRecords"
      [placeholder]="'Select Tests'"
      [settings]="dropdownSettings">
    </ng-multiselect-dropdown>
  </div>
  <table *ngIf="!leaderboard.userRecords.empty; else emptyBlock" class="table table-bordered">
    <thead>
    <tr class="table-secondary">
      <th scope="col" style="width: 2.5%">№</th>
      <th scope="col" style="width: 10%">Student</th>
      <th scope="col" style="width: 2.5%">Total</th>
      <th
        *ngFor="let iterTestRecord of chosenTestRecords"
        [style.width.%]="85 / chosenTestRecords.length"
        scope="col">
        <a [queryParams]="{id: iterTestRecord.id}" [routerLink]="['/test']">{{iterTestRecord.name}}</a>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let userRecord of leaderboard.userRecords.content; index as i"
      [ngClass]="{'table-info': userRecord.nickname == nickName}">
      <td>{{leaderboard.userRecords.number * pageSize + i + 1}}</td>
      <th scope="row">
        <a [class.disabled-link]="!isTeacher" [queryParams]="{id: userRecord.id}"
           [routerLink]="'/user'" class="semi-bold">
          {{userRecord.nickname}}
        </a>
      </th>
      <td>{{userRecord.total.toFixed(2)}}</td>
      <td *ngFor="let testRecord of chosenTestRecords">
        <span
          [style.color]="userRecord.testToScoreMap.get(testRecord.id.toString()) >= testRecord.passingScore? 'green' : 'red'">
          {{userRecord.testToScoreMap.get(testRecord.id.toString())?.toFixed(2) }}
        </span>
      </td>
    </tr>
    </tbody>
  </table>
  <app-pagination [baseUrl]="'/leaderboard'" [page]="leaderboard.userRecords"></app-pagination>
</div>
<ng-template #emptyBlock>
  <h1 class="text-center m-5 p-5">Nobody is here!</h1>
</ng-template>
<ng-template #elseBlock>
  <app-loading [text]="'Loading...'"></app-loading>
</ng-template>
