.info {
  padding: 1.5rem 2rem .5rem 2rem;
  margin: .5rem 2rem;
  background: #eee;
}

h2 {
  text-decoration: underline;
}

p {
  text-align: center;
  margin: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}
