<div *ngIf="test!=null; else elseBlock">
  <div *ngIf="!hasSent; else waitingBlock">
    <div class="info">
      <div class="flex">
        <input class="form-control" value="{{test.testInfoDto.name}}" placeholder="Title"
               (change)="nameChanged($event)">
        <input class="form-control ms-5" value="{{test.testInfoDto.programmingLang}}" placeholder="Language"
               (change)="langChanged($event)">
        <a class="button" *ngIf="testId!=null" (click)="deleteTest()">❌</a>
      </div>
      <div class="container">
        <div class="p-text me-3">Question count for students:</div>
        <input type="number" class="form-control count-inp text-center" value="{{test.testInfoDto.questionsCount}}"
               (change)="questionsCountChanged($event)">
      </div>
    </div>
    <div>
      <app-editor-question
        *ngFor="let iterQuestion of test.questionList; index as i"
        [question]="iterQuestion"
        [test]="test"
        [index]="i"
      ></app-editor-question>
    </div>
    <div class="text-center mb-4 mt-0">
      <a class="button ms-0" (click)="newQuestion()">+</a>
    </div>
    <div class="text-center">
      <button class="btn btn-primary m-1" (click)="goToHomePage()">Cancel</button>
      <button class="btn btn-primary m-1" (click)="submit()">Submit</button>
    </div>
  </div>
</div>
<ng-template #waitingBlock>
  <h1>Waiting for response...</h1>
</ng-template>
<ng-template #elseBlock>
  <h1>Loading...</h1>
</ng-template>
