<div *ngIf="test!=null; else elseBlock">
  <div [style.display]="!hasSent ? 'block' : 'none'">
    <div class="info">
      <div class="flex">
        <input (change)="nameChanged($event)" class="form-control" placeholder="Title"
               value="{{test.name}}" maxlength="50">
        <input (change)="langChanged($event)" class="form-control ms-5" placeholder="Language"
               value="{{test.programmingLang}}" maxlength="50">
        <a (click)="deleteTest()" *ngIf="testId!=null" class="button">❌</a>
      </div>
      <div class="container">
        <div class="p-text me-2">Type:</div>
        <select class="form-select type-select me-3" (change)="testTypeChanged($event)">
          <option value="WITH_BANK" [selected]="test.testType=='WITH_BANK'">With question bank</option>
          <option value="WITH_QUESTION_OPTIONS" [selected]="test.testType!='WITH_BANK'">With question options
          </option>
        </select>
        <div class="p-text me-2 ms-3">Question count for students:</div>
        <input (change)="questionsCountChanged($event)" class="form-control count-inp text-center" type="number"
               value="{{test.questionsCount}}" min="1" max="50">
      </div>
    </div>
    <div>
      <app-editor-question
        *ngFor="let iterQuestion of test.questions; index as i"
        [index]="i"
        [question]="iterQuestion"
        [test]="test"
      ></app-editor-question>
    </div>
    <div class="text-center mb-4 mt-0">
      <a (click)="newQuestion()" class="button ms-0">+</a>
    </div>
    <div class="text-center">
      <button (click)="goToHomePage()" class="btn btn-primary m-1">Cancel</button>
      <button (click)="submit()" class="btn btn-primary m-1">Submit</button>
    </div>
  </div>
</div>
<app-loading [style.display]="hasSent ? 'block' : 'none'" [text]="'Waiting for response...'"></app-loading>
<ng-template #elseBlock>
  <app-loading [text]="'Loading...'"></app-loading>
</ng-template>
