<div class="row m-0">
  <div class="col-1"></div>
  <div (click)="goToTest()" [ngClass]="card.userScore==null ? 'normal' : (card.userScore >= card.passingScore ? 'passed' : 'failed')"
       class="card col-10">
    <h2>{{card.name}}</h2>
    <b>{{card.programmingLang}}</b>
    <div class="d-flex">
      <p class="me-3">Questions: {{card.questionsCount}}</p>
      <p>To pass: {{card.passingScore}}%</p>
    </div>
    <p *ngIf="card.userScore!=null">Your score: {{card.userScore.toFixed(2)}}</p>
  </div>
  <div class="col-1 d-flex align-items-center">
    <a *ngIf="canEdit" [queryParams]="{id: card.id}" [routerLink]="'/editor'" class="button">🖉</a>
  </div>
</div>
