.card {
  padding: 1rem 2rem .5rem 2rem;
  margin: 1rem 0;
  border: 1px dashed #ccc;
  cursor: pointer;
}

.passed {
  background: #cefad0;
}
.passed:hover{
  background: #abf7b1;
}

.failed {
  background: #ffcccb
}

.failed:hover{
  background: #ffb3b2;
}

.normal:hover {
  background: #eee;
}

.card h2 {
  margin-bottom: 1rem;
}

.card b {
  text-align: right;
}

.button {
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
}
