.question{
  padding: 1.5rem 1.5rem .5rem 1.5rem;
  margin: 1rem 5rem;
  background: #ADD8E6;
}
.head{
  display: flex;
  justify-content: space-between;
}
p{
  margin: 1rem 0;
  text-align: center;
}
