<div [style.display]="!hasSent ? 'block' : 'none'" class="h-100 row align-items-center pt-5 m-0">
  <div class="col text-center">
    <h2>Login</h2>
    <h4 class="mb-4">(or <a class="link-primary" routerLink="/signup">register</a>)</h4>
    <input class="m-3 p-1" id="name" placeholder="Nickname" type="text">
    <br>
    <input class="m-3 p-1" id="password" placeholder="Password" type="password">
    <br>
    <button (click)="submit()" class="btn btn-primary m-3">Submit</button>
  </div>
</div>
<app-loading [style.display]="hasSent ? 'block' : 'none'" [text]="'Waiting for response...'"></app-loading>
